{% extends 'base.html' %}

{% block content %}
<section class="hero-container glass-panel">
    <div class="hero-content">
        <h1>Architect <br><span class="gradient-text">The Future.</span></h1>
        <p>AI-Powered Smart Architectural Planning System utilizing high-precision Binary Space Partitioning and Zoning Logic for deterministic 2D/3D layouts.</p>
        <div class="hero-actions">
            <a href="/planner" class="btn primary-btn">Start Architecting</a>
        </div>
    </div>
</section>
{% endblock %}
